<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalles de la Noticia</ion-title>
  </ion-toolbar>
</ion-header>
<app-navbar></app-navbar>
<ion-content>
  <ion-card *ngIf="news">
    <ion-card-header>
      <ion-card-title>{{ news.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let image of news.images">
            <img [src]="image" alt="" class="news-image">
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <h5>{{ news.title }}</h5>
      <p>{{ news.subtitle }}</p>
      <ion-row>
        <p>{{ news.section.name }}</p> <hr><ion-icon [name]="news.section.icon"></ion-icon>
      </ion-row>

      <p>{{ news.author }}</p>
      <p>{{ news.date }}</p>

      <ion-list>
        <ion-item (click)="toggleAccordion()">
          <ion-label>Contenido</ion-label>
          <ion-icon slot="end" [name]="accordionExpanded ? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-item>
        <ion-item *ngIf="accordionExpanded">
          <ion-label>
            {{ news.content }}
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>
