

<ion-tab-bar>
  <app-tabs></app-tabs>
</ion-tab-bar>
<ion-content>
  <ion-card *ngIf="news">
    <ion-card-header>
      <ion-card-title>{{ news.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <swiper-container>
          <swiper-slide *ngFor="let image of news.images">
            <ion-img [src]="image" alt="1" class="slide-image"></ion-img>
          </swiper-slide>
      </swiper-container>

      <h5>{{ news.title }}</h5>
      <p>{{ news.subtitle }}</p>
      <ion-row>
        <p>{{ news.section.name }}</p> <hr><ion-icon [name]="news.section.icon"></ion-icon>
      </ion-row>

      <p>{{ news.author }}</p>
      <p>{{ news.date }}</p>

      <ion-list>
        <ion-item (click)="toggleAccordion()">
          <ion-label>Contenido</ion-label>
          <ion-icon slot="end" [name]="accordionExpanded ? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-item>
        <ion-item *ngIf="accordionExpanded">
          <ion-label>
            {{ news.content }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
