<ion-menu contentId="contenido-menu" menuId="menuId" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-buttons class="ion-justify-content-center">
        <ion-avatar>
          <ion-img src="assets/icon/favicon.png"></ion-img>
        </ion-avatar>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="">
        <ion-label>Inicio</ion-label>
      </ion-item>

      <ion-item *ngFor="let section of sections" [routerLink]="['/section', section.name]">
        <ion-label>{{ section.name }}</ion-label>
        <ion-icon [name]="section.icon"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>


</ion-menu>


