<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ sectionName }}</ion-title>
  </ion-toolbar>
</ion-header>


  <app-tabs></app-tabs>


<ion-content>
    <ion-list>
      <ion-item *ngFor="let newsItem of sectionNews" class="news-item" (click)="openNewsDetails(newsItem._id)">

        <ion-thumbnail slot="start">
          <img [src]="newsItem.images[0]">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ newsItem.title }}</h2>
          <p>{{ newsItem.subtitle }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreNews($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando 5 noticias..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" >
  <ion-fab-button color="danger" routerLink="/search">
    <ion-icon name="search-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
