<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>
<ion-tab-bar>
  <app-tabs></app-tabs>
</ion-tab-bar>

<ion-content>
  <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input label placeholder="Search query" type="text" (keyup.enter)="search()" [(ngModel)]="searchQuery"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="search()">Search</ion-button>

  <ion-list *ngIf="searchResults.length > 0">
    <ion-item *ngFor="let result of searchResults">
      <ion-label>
        <h2>{{ result.title }}</h2>
        <p>Author: {{ result.author }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="searchResults.length === 0 && searchQuery !== ''" color="danger">
    No results found.
  </ion-text>
</ion-content>
