<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

  <app-tabs></app-tabs>


<ion-content>
  <div class="news-container">
    <ion-card *ngFor="let news of newsList" class="news-item" >
      <div (click)="openNewsDetails(news._id)">
        <ion-card-header>
          <ion-card-title>{{ news.title }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ng-container *ngFor="let image of news.images">
            <ion-img  [src]="image" alt="" class="news-image"></ion-img>
          </ng-container>
          <p>{{ news.author }}</p>
        </ion-card-content>
      </div>

    </ion-card>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadMoreNews($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando 5 noticias..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" >
  <ion-fab-button color="danger" routerLink="/search">
    <ion-icon name="search-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
